


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- static -->
    <div>    </div>
    <div style="position: relative; left: 200px";>   </div>
    <div>    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- Absolute -->
    <div style="position: absolute; left: 0px; top:0px";></div>
    <div style="position: absolute; left: 100px; top: 130px";></div>
    <div style="position: absolute; left: 200px; top:250px";></div>
   
</body>
</html>