
/* This is external */

h1{background-color:violet ;
    font-size: medium;
}
*{
    margin: 10px 10px 10px 10px;
}
h2{
    background-color: blue;
}
.class {
text-decoration: underline;
}
#id {
    color: brown;
}