p.serif {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 50px;
}
p.sansserif {
    font-family:Arial, Helvetica, sans-serif ;
    font-style: oblique;
    
}
p {
    font-weight: bold;
    font-variant:small-caps;
    line-height: 3em;
}
div {
    font: italic caption bold 10px/1.3em arial;


}
