div {
    border: solid red 10px;
    /* padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px; */
    padding: 10px 20px;

    background-color: blue;
    color: yellow;

    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px 20px;
}