h1{
    /* using color*/
    /* color: violet; */

    /* rgb */
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    color: rgb(0, 0, 255);
    color: rgb(255, 0, 0);
    color: rgb(0, 255, 0);
    color: rgb(0, 125,0);
    color: rgb(0, 0, 255);
    color: rgb(125, 125, 255);
    color: rgb(125, 125, 125);

    /* hexdecimal */
    color: #ff0;   
}

body{
    background-color: rgb(0, 0, 0);
}
div {
    color: bisque;
    width: 200px;
    height: 200px;
    background-color:rgba(255, 0, 0, 0.8)

}