/* css colors rgb */
#blue{
    color: rgb(0, 0, 255);
 }
 #red {
    color: rgb(255, 0, 0);
 }
 #black {
    color: rgb(0, 0, 0);
 }
 /* css hexadecimal colors */
 #green {
    color: #26aa15;
 }
 #white{
    color: #e8edf0;;
 }
 #orange {
    color: #df6a0a;;
 }

 /* CSS HSL */
 #pink {
    color: HSL(254, 241%, 12);
 }

 /* css opacity */
 #low-yellow{
    width:200px ;
    height:200px ;
    display:inline-block ;
    background-color: rgba(243, 248, 169, 0.3);
 }
 #mid-yellow{
    width:200px ;
    height:200px ;
    display:inline-block ;
    background-color: rgba(245, 236, 106, 0.6)
 }
 #high-yellow{
    width:200px ;
    height:200px ;
    display:inline-block ;
    background-color: rgba(223, 209, 22, 0.9);
 }